<div id='header'>
  <h1>Edit <%= @artist.username %></h1>
</div>

<div id='form' style="font-family: Papyrus; text-align: center">
  <%= form_with url: "/user/#{current_user.id}/artists/#{@artist.id}", method: :put, local: true do |form| %>
  <%= form.label :username, 'Username:' %><br>
  <%= form.text_field :username, id: 'username', value: @artist.username %> <br><br>
  <%= form.label :password, 'Password:' %><br>
  <%= form.password_field :password, id: 'password', placeholder: 'Password' %><br>
  <%= form.password_field :password_confirmation, id: 'password_confirmation', placeholder: 'Password Confirmation' %> <br><br>
  <%= form.submit 'Edit Artist', class: 'btn btn-info' %>
<% end %>
</div>
